<!-- generating mysql data through this form -->
<!DOCTYPE html>
<html>
	<head>
		<title>events</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
		<!-- Bootstrap Stylesheet -->
		<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
		<!-- sidebar stylesheet -->
		<link href="../assets/css/simple-sidebar.css" rel="stylesheet">
		<!-- bootstrap switch -->
		<link href="../assets/css/bootstrap-switch.min.css" rel="stylesheet">
		<!-- internal stylesheet -->
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
		    <!--Load the AJAX API-->
    <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->

	</head>
	<body>
		<!--Nav Bar header -->
		<div class="navbar navbar-static-top primaryNav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						<img src="assets/images/logoName.png" alt="BringTeam">
					</a>
				</div>
				<div class= "loginBtn">
					<button id="logIn" class="log-in">Log In</button>
					<button id="signUp" class="sign-up">Sign Up</button>
				</div>
				<button id="signOut" class="sign-out">Sign Out</button>
			</div>
			<div class="mainHeader" role="banner">
				<div class="container">
					<div class="row">
						<!-- <div class="col-md-3"> -->
							<a class="homeLink col-md-3"  role="navigation" href="/"><span class="glyphicon glyphicon-home"></span></a>
							  <button class="btn btn-primary events-btn"><a href="/events">Events</a></button>
              <button class="btn btn-primary stats-btn"><a href="input">Stats</a></button>
              <button class="btn btn-primary addevents-btn"><a href="input">Add Events</a></button>
					</div>
			</div>
		</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1>Enter Team Members</h1>
							<form action="teams/api/addplayers" method="POST">
									<input id="fName" type="text" name="First Name" placeholder="first name">
									<input id="lName" type="text" name="last Name" placeholder="last name">
									<input id="uniformNum" type="number" name="uniform" placeholder="uniform number">
									<div class="form-group">
								<label for="exampleSelect1">Team Name</label>
								<select class="form-control" id="playerTeam" name="team">
									<option>Blue</option>
									<option>Red</option>
									<option>Yellow</option>
									<option>Pink</option>
									<option>Purple</option>
								</select>
							</div>

							</form>

							</div>
							<button id ="playerSubmit" type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>


		<!--Footer describing team developers -->
		<div class="pageFooter">
			<div class = "container">
			Copywrite: 2016, Made by Dream Team.  All rights reserved.</div>


		</div>
		<!-- jquery -->
		<script type="text/javascript" src="/script/jquery.js"></script>
		<!-- bootstrap Switch -->
		<script type="text/javascript" src="/script/bootstrap-switch.min.js"></script>
		<!-- handlebars cdn -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
		<!-- bootstrap stylesheet -->
		<script type="text/javascript" src="/script/bootstrap.min.js"></script>
		<!-- userForm js -->
		<script type="text/javascript" src="/script/userForms.js"></script>
		<!-- signin -->
		<script type="text/javascript" src="/script/userLogin.js"></script>
		<!-- js -->
		<script type="text/javascript" src="/script/script.js"></script>
	</body>
</html>