<!-- generating mysql data through this form -->
<!DOCTYPE html>
<html>
	<head>
		<title>events</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
		<!-- Bootstrap Stylesheet -->
		<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
		<!-- sidebar stylesheet -->
		<link href="../assets/css/simple-sidebar.css" rel="stylesheet">
		<!-- internal stylesheet -->
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	</head>
	<body>
		<a href="#menu-toggle" class="btn btn-default glyphicon glyphicon-menu-hamburger" id="menu-toggle">
		</a>
		<div class= "loginBtn">
			<button id="logIn" class="log-in">Log In</button>
			<button id="signUp" class="sign-up">Sign Up</button>
		</div>
	</div>
	<div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="#">
					</a>
				</li>
				<li>
					<a href="/">Home/About Us</a>
				</li>
				<li>
					<a href="/events">Events</a>
				</li>
				<li>
					<a href="/input">Enter New Events</a>
				</li>
			</ul>
		</div>
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<h1>Enter Team Members</h1>
							<form>
									<input type="text" name="First Name" placeholder="first name">
									<input type="text" name="last Name" placeholder="last name">
									<<input type="number" name="uniform" placeholder="uniform number">
									<input type="text" name="email" placeholder="email">
									<input type="text" name="password" placeholder="password">
							</form>

							</div>
							<button id ="eventSubmit" type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/script/jquery.js"></script>
	<!-- handlebars cdn -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
	<!-- bootstrap stylesheet -->
	<script type="text/javascript" src="/script/bootstrap.min.js"></script>
	<!-- js -->
	<script type="text/javascript" src="/script/script.js">
	</script>
</body>
</html>
</body>
</html>