<!-- generating mysql data through this form -->

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../assets/css/style.css">

	<title>Events entry</title>
</head>
<body>
<div class="container">
	<form class="eventForm">

	<div>
		<label>
			<input id="date" type="date" name="date" placeholder="date">
		</label>
	</div>

	<div>
		<label>
			<input id="startTime" type="time" name="start_time" placeholder="start_time">
		</label>
	</div>

	<div>
		<label>
			<input id="endTIme" type="time" name="end_time" placeholder="end_time">
		</label>
	</div>

<div class="form-group">
    <label for="exampleSelect1">Event Type</label>
    <select class="form-control" id="eventType" name="type">
      <option>Practice</option>
      <option>Game</option>
    </select>
  </div>

	<div>
		<label>
			<input id="score1" type="integer" name="score1" placeholder="Score for team 1">
		</label>
	</div>

	<div>
		<label>
			<input id="score2" type="integer" name="score" placeholder="Score for team 2">
		</label>
	</div>


	<div>
		<label>
			<input id="location" type="text" name="location" placeholder="Location of the event">
		</label>
	</div>
	  <div class="form-group">
    <label for="exampleSelect1">Team Name</label>
    <select class="form-control" id="associatedTeam" name="team">
      <option>Blue</option>
      <option>Red</option>
      <option>Yellow</option>
      <option>Pink</option>
      <option>Purple</option>
    </select>
  </div>

  <button id ="eventSubmit" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


<!-- jquery -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<!-- js -->
<script type="text/javascript" src="../script/script.js"></script>



</body>
</html>