<!DOCTYPE html>
<html>
	<head>
		<title>events</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
		<!-- Bootstrap Stylesheet -->
		<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
		<!-- sidebar stylesheet -->
		<link href="../assets/css/simple-sidebar.css" rel="stylesheet">
		<!-- internal stylesheet -->
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	</head>
	<body>
		<!-- login and signup button  -->
		<!--Nav Bar header -->
		<div class="navbar navbar-static-top primaryNav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img src="assets/images/logoName.png" alt="BringTeam">
					</a>
				</div>
				<div class= "loginBtn">
					<button id="logIn" class="log-in">Log In</button>
					<button id="signUp" class="sign-up">Sign Up</button>
				</div>
				<button id="signOut" class="sign-out">Sign Out</button>
			</div>
			<div class="mainHeader" role="banner">
				<div class="container">
					<div class="row mainHeadRow">
						<div class="col-md-3 dropdowns">
							<a class="homeLink"  role="navigation" href="/"><span class="glyphicon glyphicon-home"></span></a>
			<!-- 				<a id="allEvents" class="displayEvents" href="events/api/all">Team Schedules</a>
							|
							<a id="allEvents" class="displayEvents" href="events/api/all">Team Roster</a>
							|
							<a id="newEvent" class="new-event" href="/input">Enter new events</a>
							|
							<a id="enterPlayer" class="enter-player" href="/addplayers">Add players</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- /header -->
		<!-- using handlebars  displaying events on the basis of link clicked-->
<div class="container">
	<h1>Upcoming Events</h1>
<div class="row">
        <div class="col-md-12">
            <table class="table tablesorter hidden">
                <thead>
                    <tr>
												<th>Date</th>
												<th>Game</th>
												<th>Start Time</th>
												<th>End Time</th>
												<th>Type</th>
												<th>Location</th>
												<th>Comment</th>
												<th>Team1</th>
												<th>Team2</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


<!-- <div class="events hidden col-md-12"> -->
<script id="template" type="text/html">
				{{#each events}}
					<tr>
						<!-- <td>{{id}}</td> -->
						<td>{{date}}</td>
						<td>{{game}}</td>
						<td>{{start_time}}</td>
						<td>{{end_time}}</td>
						<td>{{type}}</td>
						<td>{{location}}</td>
						<td>{{comment}}</td>
							{{#each Teams}}
								<td>{{Team_name}}</td>
							{{/each}}
					</tr>
					{{/each}}
</script>

		<!--Footer describing team developers -->
		<div class="pageFooter">
			<div class = "container">
			Copywrite: 2016, Made by Dream Team.  All rights reserved.</div>
		</div>
		<!-- jquery -->
		<script type="text/javascript" src="/script/jquery.js"></script>
		<!-- handlebars cdn -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
		<!-- bootstrap stylesheet -->
		<script type="text/javascript" src="/script/bootstrap.min.js"></script>
		<!-- js -->
		<script type="text/javascript" src="/script/script.js">
		</script>
	</body>
</html>