<!DOCTYPE html>
<html>
	<head>
		<title>events</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
		<!-- Bootstrap Stylesheet -->
		<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
		<!-- sidebar stylesheet -->
		<link href="../assets/css/simple-sidebar.css" rel="stylesheet">
		<!-- internal stylesheet -->
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	</head>
	<body>
		<!-- login and signup button  -->
		<!--Nav Bar header -->
		<div class="navbar navbar-static-top primaryNav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img src="assets/images/logoName.png" alt="BringTeam">
					</a>
				</div>
				<div class= "loginBtn">
					<button id="logIn" class="log-in">Log In</button>
					<button id="signUp" class="sign-up">Sign Up</button>
				</div>
				<button id="signOut" class="sign-out">Sign Out</button>
			</div>
			<div class="mainHeader" role="banner">
				<div class="container">
					<div class="row mainHeadRow">
						<!-- <div class="col-md-3"> -->
							<a class="homeLink col-md-3"  role="navigation" href="/"><span class="glyphicon glyphicon-home"></span></a>
						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>

		<!-- /header -->
		<!-- header of the table displayed in the events route for the games table -->
<div class="container">
	<h1 class="eventTable">Upcoming Games</h1>
<div class="row">
        <div class="col-md-12">
            <table class="table eventTable tablesorter hidden">
                <thead>
                    <tr>
												<th>Date</th>
												<th>Game</th>
												<th>Start Time</th>
												<th>End Time</th>
												<th>Type</th>
												<th>Location</th>
												<th>Comment</th>
												<th>Team1</th>
												<th>Team2</th>
                    </tr>
                </thead>
                <tbody id="game"></tbody>
            </table>
        </div>
    </div>
</div>


<!-- rows for the table which will be populated on the click of dropdown menu -->
<script id="template" type="text/html">
				{{#each events}}
					<tr>
						<td>{{date}}</td>
						<td>{{game}}</td>
						<td>{{start_time}}</td>
						<td>{{end_time}}</td>
						<td>{{type}}</td>
						<td>{{location}}</td>
						<td>{{comment}}</td>
							{{#each Teams}}
								<td>{{Team_name}}</td>
							{{/each}}
					</tr>
					{{/each}}
</script>

<!-- table header for upcoming practices -->
<div class="container">
	<h1 class="eventTable">Practice Schedule</h1>
<div class="row">
        <div class="col-md-12">
            <table class="table eventTable tablesorter hidden">
                <thead>
                    <tr>
												<th>Date</th>
												<th>Game</th>
												<th>Start Time</th>
												<th>End Time</th>
												<th>Type</th>
												<th>Location</th>
												<th>Comment</th>
												<th>Team1</th>
												<th>Team2</th>
                    </tr>
                </thead>
                <tbody id="practice"></tbody>
            </table>
        </div>
    </div>
</div>

<!-- team template -->
<div class="container">
	<h1 class="teamTable">Upcoming Games</h1>
<div class="row">
        <div class="col-md-12">
            <table class="table teamTable tablesorter hidden">
                <thead>
                    <tr>
												<th>Team Name</th>
												<th>Game</th>
												<th>Start Time</th>
												<th>Type</th>
												<th>Location</th>
												<th>Comment</th>
                    </tr>
                </thead>
                <tbody id="teamGame"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
	<h1 class="teamTable">Upcoming Practice</h1>
<div class="row">
        <div class="col-md-12">
            <table class="table teamTable tablesorter hidden">
                <thead>
                    <tr>
												<th>Team Name</th>
												<th>Game</th>
												<th>Start Time</th>
												<th>Type</th>
												<th>Location</th>
												<th>Comment</th>
                    </tr>
                </thead>
                <tbody id="teamPractice"></tbody>
            </table>
        </div>
    </div>
</div>

<!-- template for teams info table-->
<script id="templateTeam" type="text/html">
				{{#each teamEvents}}
					<tr>
						<td>{{Team_name}}</td>
							{{#each Events}}
						<td>{{game}}</td>
						<td>{{start_time}}</td>
						<td>{{type}}</td>
						<td>{{location}}</td>
						<td>{{comment}}</td>
							{{/each}}
					</tr>
					{{/each}}
</script>

		<!--Footer describing team developers -->
		<div class="pageFooter">
			<div class = "container">
			Copywrite: 2016, Made by Dream Team.  All rights reserved.</div>
			<a id="newEvent" class="new-event col-md-2" href="/input">Enter new events</a>
			<a id="enterPlayer" class="enter-player col-md-1" href="/addplayers">Add players</a>
		</div>
		<!-- jquery -->
		<script type="text/javascript" src="/script/jquery.js"></script>
		<!-- handlebars cdn -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
		<!-- bootstrap stylesheet -->
		<script type="text/javascript" src="/script/bootstrap.min.js"></script>
		<!-- js -->
		<script type="text/javascript" src="/script/script.js">
		</script>
	</body>
</html>