<!DOCTYPE html>
<html>
  <head>
    <title>BringTeam-Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <!-- Bootstrap Stylesheet -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- sidebar stylesheet -->
    <link href="../assets/css/simple-sidebar.css" rel="stylesheet">
    <!-- bootstrap switch -->
    <link href="../assets/css/bootstrap-switch.min.css" rel="stylesheet">
    <!-- internal stylesheet -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
        <!--Load the AJAX API-->
    <!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->

  </head>
	<body>

<!--Nav Bar header -->
    <div class="navbar navbar-static-top primaryNav" role="navigation">
      <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="assets/images/logoName.png" alt="BringTeam">
            </a>
          </div>


		<!-- login and signup button  -->
		<div class= "loginBtn">
			<button id="logIn" class="log-in">Log In</button>
			<button id="signUp" class="sign-up">Sign Up</button>
		</div>
		<button id="signOut" class="sign-out">Sign Out</button>
	</div>

<!--Banner picture Main Header -->
    <div class="container-fluid" id="index-banner">
    <div id="imgContainer" >
      <img src="assets/images/bannerHome.png" alt="Kids at play" class="img-responsive">
      <!--a id="learnMore" class="btn btn-success btn-lg pull-right" role="button">Learn More</a -->
    </div>
    </div>

<!--Body text describing app's purpose -->
    <div class="container">
      <div class="row">
        <br>
        <h1 class="page-center"><font color="purple">Helping busy parents manage kid's sports activities!</font></h1>
      </div>
      <!--Icon section -->
      <div class = "row">
        <!--Team Roster -->

        <div class="icon-section">
          <div class= "col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h3 class="text-center"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><a class="getDetails" href="/events">TEAM ROSTER</a></h3>
             <h4 class="text-center">View team members and contact info</h4><br>
          </div>
        </div>
        <!-- </button> -->
          <!--Practice and Game Schedules -->
          <div class="icon-section">
          <div class= "col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <h3 class="text-center"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><a class="getDetails" href="/events">SCHEDULER</a></h3>
             <h4 class="text-center">Manage practices and game events</h4><br>
          </div>
        </div>
          <!--Game Scores -->
          <div class="icon-section">
          <div class= "col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <h3 class="text-center"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><a class="getDetails" href="/stats">GAME STATS</a></h3>
             <h4 class="text-center">Track wins and losses in the season</h4><br>
          </div>
        </div>
        </div>  <!--closes row -->
      </div>    <!--closes section -->
    </div>      <!--closes container -->

  <!--Footer describing team developers -->
    <div class="pageFooter">
    <div class = "container">
      2016, Made by Dream Team.  All rights reserved.</div>
    </div>



    <!-- jquery -->
    <script type="text/javascript" src="/script/jquery.js"></script>
    <!-- bootstrap Switch -->
    <script type="text/javascript" src="/script/bootstrap-switch.min.js"></script>
    <!-- handlebars cdn -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <!-- bootstrap stylesheet -->
    <script type="text/javascript" src="/script/bootstrap.min.js"></script>
    <!-- js -->
    <script type="text/javascript" src="/script/script.js">
    </script>
  </body>
</html>