<!-- generating mysql data through this form -->
<!DOCTYPE html>
<html>
	<head>
		<title>BringTeam-SignUp</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
		<!-- Bootstrap Stylesheet -->
		<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
		<!-- sidebar stylesheet -->
		<link href="../assets/css/simple-sidebar.css" rel="stylesheet">
		<!-- bootstrap switch -->
		<link href="../assets/css/bootstrap-switch.min.css" rel="stylesheet">
		<!-- internal stylesheet -->
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
		    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	</head>
	<body>
		<!--Nav Bar header -->
		<div class="navbar navbar-static-top primaryNav" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">
						<img src="assets/images/logoName.png" alt="BringTeam">
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav pull-right">
						<li> <a href="/">Home</a></li>
						<li><a href="/signin">Log In</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--Main header announcing action of page -->
		<div class="mainHeader">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1>Create Your BringTeam Account</h1>
					</div>
				</div>
			</div>
		</div>
		<!--Sign in form -->
		<div id="signupPage" class="container">
			<div class = "row">
				<div class="col-xs-6 col-xs-offset-3"></div>
				<div class="col-xs-6 col-xs-offset-3">
					<div class="logSite">
						<form action="/users/create" method="POST">
							<div class="form-group">
								<label for="fName">First Name:</label>
								<input type="text" id="firstName" name="firstName">
							</div>
							<div class="form-group">
								<label for="lName">Last Name:</label>
								<input type="text" id="lastName" name="lastName">
							</div>
							<div class="form-group">
								<label for="exampleSelect1">Team Name</label>
								<select class="form-control" id="teamPlayer" name="team">
									<option>Blue</option>
									<option>Red</option>
									<option>Yellow</option>
									<option>Pink</option>
									<option>Purple</option>
								</select>
							</div>
							<div class="form-group">
								<label for="uniform">uniform number:</label>
								<input type="number" id="uniformNumber" name="uniform">
							</div>
							<div class="form-group">
								<label for="em">Email</label>
								<input id="em" name="email" type="text" class="form-control input-lg">
							</div>
							<div class="form-group">
								<label for="pass">Password</label>
								<input id="pass" name="password" type="password" class="form-control input-lg">
							</div>
						</form>

										   <!-- fb login button -->
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false" onlogin="facebooklogin" data-scope="public_profile, email" data-show-faces="true"></div>
          <div id="fb-root"></div>
					</div>
					<div class="form-group clearfix">
						<button id="userSignUp" class="pull-right btn btn-success loginBtn" type="submit" data-loading-text="Log in">Create Account</button>
					</div>
				</form>

				<p class="noAccount">Already have a BringTeam account?
					<a href="/signin">Log In</a>
				</p>
			</div>
		</div>
	</div>
</div>
</div>
<!--BringTeam Site Stats -->
<div class="footer-stats">
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<span class="fact">238</span>
			<div class="fact-name"># of teams enrolled</div>
		</div>
		<div class="col-xs-3">
			<span class="fact">1,867</span>
			<div class="fact-name"># of players</div>
		</div>
		<div class="col-xs-3">
			<span class="fact">4,760</span>
			<div class="fact-name"># of upcoming events</div>
		</div>
	</div>
</div>
</div>

<!-- // create modal and get more user info for players table when user signin with fbook a/c -->

<script id="signup-modal" type="text/html">
	<div class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Team Info</h4>
      </div>
      <div class="modal-body">
      		<label for="exampleSelect1">Team Name</label>
							<select class="form-control" id="teams" name="team">
      		{{#each teams}}
      				<option value="{{Team_name}}">{{Team_name}}</option>
      			{{/each}}
      			</select>
      			<br>
      		<p>Uniform Number<input id="uniform" type="number" name="uniformNum"></p>
      </div>
      <div class="modal-footer">
        <button id="modalSubmit" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</script>

<!--Footer describing team developers -->
<div class="pageFooter">
<div class = "container">
Copywrite: 2016, Made by Dream Team.  All rights reserved.</div>
</div>
		<!-- jquery -->
		<script type="text/javascript" src="/script/jquery.js"></script>
		<!-- bootstrap Switch -->
		<script type="text/javascript" src="/script/bootstrap-switch.min.js"></script>
		<!-- handlebars cdn -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
		<!-- bootstrap stylesheet -->
		<script type="text/javascript" src="/script/bootstrap.min.js"></script>
		<!-- facebook js login -->
		<script type="text/javascript" src="/script/faceBookLogin.js"></script>
		     <!-- user login js -->
    <script type="text/javascript" src="/script/userLogin.js"></script>
		<!-- js -->
		<script type="text/javascript" src="/script/script.js"></script>
	</body>
</html>