
.loginBtn{
	float:right;

}

.displayEvents{
	text-align: center;
	margin-left:50px;
	padding:20px;
}

.header{
	border: 1px solid black;
	background: orange;

}

.hidden {
	display: none;
}
.user-name{
	float: right;
	display: inline-block;
}

.sign-out {
	display: none;
	float: right;
}

.dropdown-menu{
	color: black;
}

.eventTable{
	display: none;
}

.teamTable{
	display: none;
}

td[contenteditable="true"]{
    border: 2px solid #9C27B0;
    background: rgba(0, 188, 212, 0.2);
}

.navbar-brand {
	margin-bottom: 60px;

}

#imgContainer {
    position:relative;
    display:inline-block;
    text-align:center;
    margin-top:28px;

}

#learnMore {
    position:absolute;
    bottom:200px;
    right:120px;
}

.page-center {
	text-align: center;
	font-family: 'Trirong', serif;
	margin-top: 0px;

}

.icon-section .glyphicon {
	font-size: 30px;
	color:purple;
	padding-right: 10px;
}

.pageFooter {
	position:fixed;
	left:0;
	bottom:0;
	height: 70px;
	width:100%;
	background-color: purple;
	text-align: center;
	color:white;
	padding-top: 20px;
}


.mainHeader {
	background-color: purple;
	color:white;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 300;
	padding: 30px 10px 30px 10px;
	margin-top:35px;
}

label.btn.btn-primary.active.Yellow, label.btn.btn-primary.Yellow {
	background: #FFC107 !important;
}

.mainHeader .glyphicon {
	font-size: 40px;
	color:white;
	margin:2px 2px 2px 2px;
}

#loginPage {
	margin-top:50px;
}

.col-xs-3 {
	width: 25%;
}

.stats-btn>a, .events-btn>a, .addplayers-btn>a, .addevents-btn>a {
	color:white;
}

#loginPage .logSite .noAccount {
	border-top:4px solid #e5e5e5;
	font-size: 14px;
	margin:50px 0 45px;
	padding-top: 15px;
}

#loginPage .logSite .noAccount a{
	float:right;
}

.footer-stats {
	background:#eeeeee;
	border-top: 1px solid #dddddd;
	padding:10px 0;
	text-align: center;
	margin-top:50px;
}

.footer-stats .fact {
	font-size: 28px;
	font-weight: 700;
}

.pageFooter {

}

.tableOutput {
	margin-top:30px;
}


