<!DOCTYPE html>
<html>
  <head>
    <title>events</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <!-- Bootstrap Stylesheet -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- sidebar stylesheet -->
    <link href="../assets/css/simple-sidebar.css" rel="stylesheet">
    <!-- bootstrap switch -->
    <link href="../assets/css/bootstrap-switch.min.css" rel="stylesheet">
    <!-- internal stylesheet -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <!-- login and signup button  -->
    <!--Nav Bar header -->
    <div class="navbar navbar-static-top primaryNav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="assets/images/logoName.png" alt="BringTeam">
          </a>
        </div>
        <div class= "loginBtn">
          <button id="logIn" class="log-in">Log In</button>
          <button id="signUp" class="sign-up">Sign Up</button>
        </div>
        <button id="signOut" class="sign-out">Sign Out</button>
      </div>
      <div class="mainHeader" role="banner">
        <div class="container">
          <div class="row">
            <!-- <div class="col-md-3"> -->
            <a class="homeLink col-md-3"  role="navigation" href="/"><span class="glyphicon glyphicon-home"></span></a>
            <button class="btn btn-primary events-btn"><a href="events">Events</a></button>
            <button class="btn btn-primary addevents-btn"><a href="input">Add Events</a></button>
            <button class="btn btn-primary addplayers-btn"><a href="addplayers">Add Players</a></button>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- /header -->
    <!-- header of the table displayed in the events route for the games table -->
    <div class="container">
      <div class="row">
        <div class="dropdown col-md-2">
          <button class="btn btn-default dropdown-toggle team1" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select Team
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu teamDropdown1" aria-labelledby="dropdownMenu1">
            <li><a href="#">Red</a></li>
            <li><a href="#">Blue</a></li>
            <li><a href="#">Yellow</a></li>
            <li><a href="#">Pink</a></li>
            <li><a href="#">Purple</a></li>
          </ul>
        </div>
        <div class="dropdown col-md-2">
          <button class="btn btn-default dropdown-toggle team2" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select Team
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu teamDropdown2" aria-labelledby="dropdownMenu1">
            <li><a href="#">Red</a></li>
            <li><a href="#">Blue</a></li>
            <li><a href="#">Yellow</a></li>
            <li><a href="#">Pink</a></li>
            <li><a href="#">Purple</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <h1 class="stats">Team Stats</h1>
      <!--Div that will hold the bar chart-->
      <div id="chart_div"></div>
    </div>
    <!--Footer describing team developers -->
    <div class="pageFooter">
      Copywrite: 2016, Made by Dream Team.  All rights reserved.
      <a id="newEvent" class="new-event col-md-2" href="/input">Enter new events</a>
      <a id="enterPlayer" class="enter-player col-md-1" href="/addplayers">Add players</a>
    </div>
    <!-- jquery -->
    <script type="text/javascript" src="/script/jquery.js"></script>
    <!-- bootstrap Switch -->
    <script type="text/javascript" src="/script/bootstrap-switch.min.js"></script>
    <!-- handlebars cdn -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
    <!-- bootstrap stylesheet -->
    <script type="text/javascript" src="/script/bootstrap.min.js"></script>
    <!-- stats js -->
    <script type="text/javascript" src="/script/stats.js"></script>
    <!-- signin -->
    <script type="text/javascript" src="/script/userLogin.js"></script>
    <!-- js -->
    <script type="text/javascript" src="/script/script.js"></script>
  </body>
</html>